{% extends "layout.html" %}
{% block content %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ2UdTtgsGg7Jbx7UmtnGPFh_pVRi2n4U&libraries=places&callback=initAutocomplete" async defer></script>
  <script type="text/javascript" src="{{ url_for('static', filename='JS/home.js') }}"></script>

  <form method="POST" action="" class="search-bar">
      {{ form.hidden_tag() }}
        {% if form.searchString.errors %}
            {{ form.searchString(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.searchString.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.searchString(class="form-control form-control-lg search-bar", placeholder="e.g. Grocery Pick Up") }}
            <button type="button" onClick=expandSearchOpt() class="btn btn-primary btn-md mt-1 mb-1">Advanced Search</button>
            <div class="media content-section adv-search-hidden" id="content">
                  {{ form.hidden_tag() }}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Configure Your Search Setting</legend>
                      <label class="form-control-label">Approximate Area</label>
                      <div class="form-group">
                          {% if form.postalCode.errors %}
                              {{ form.postalCode(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.postalCode.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.postalCode(class="form-control form-control-lg adv-search-bar", placeholder="e.g. Coquitlam Center...", id="autocomplete") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form.radius.label(class="form-control-label") }}
                          {% if form.radius.errors %}
                              {{ form.radius(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.radius.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.radius(class="form-control form-control-lg adv-search-bar") }}
                              <small class="text-muted ml-2">Default search radius is 50 km. Pick a value between 1-100 km.</small>
                          {% endif %}
                      </div>
                      <div class="grid" >
                        <div class="form-group grid-r-1 grid-c-1">
                            {{ form.status.label(class="form-control-label") }}
                            {% if form.status.errors %}
                                {{ form.status(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.status.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.status(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group grid-r-1 grid-c-2-5">
                            {{ form.category.label(class="form-control-label") }}
                            {% if form.category.errors %}
                                {{ form.category(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.status.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.category(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                      </div>

                  <div class="form-group">
                      {{ form.updateSearch(class="btn btn-outline-info") }}
                  </div>
                  </fieldset>
                </div>
        {% endif %}
    </form>


    {% for post in posts %}
        <article class="media content-section" id="post-display">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='user_images/' + post.author.user_image) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">{{ post.author.username }}</a>
                    <div>
                      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                      <small class="text-muted"> <b> {{ post.category.name }}</b> </small>
                      <small class="text-muted">  |  </small>
                      {% if post.status.name == "OPEN" %}
                        <small id="openStatus" class="text-muted">{{ post.status.name }}</small>
                      {% elif post.status.name == "TAKEN" %}
                        <small id ="takenStatus" class="text-muted">{{ post.status.name }}</small>
                      {% elif post.status.name == "CANCELLED" %}
                        <small id ="CanclledStatus" class="text-muted">{{ post.status.name }}</small>
                      {% elif post.status.name == "CLOSED"%}
                        <small id ="ClosedStatus" class="text-muted">{{ post.status.name }}</small>
                      {% endif %}
                    </div>
                </div>
                <h3><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p class="article-content">{{ post.description[:[300,post.description|length]|min] }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
