<!--Note to self, to-do: Need to format and clean up. This is only functional, not clean and does not have proper styling-->
{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
        <div class="notifications">
            <h4 class="Notifications Title"> My Notifications </h4>
            <h2 class="Notifications Title"> Unread Notifications </h2>
            {% for a in unread_notifications %}
            <p><a class="article-title" href="{{ url_for('post', post_id=a.post_id) }}">{{ a.notification_message }}</a></p>
            {% endfor %}
            <h2 class="Notifications Title"> Read Notifications </h2>
            {% for b in read_notifications %}
            <p><a class="article-title" href="{{ url_for('post', post_id=b.post_id) }}">{{ b.notification_message }}</a></p>
            {% endfor %}
        </div>

   
</article>
{% endblock content %}