{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='user_images/' + post.author.user_image) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <div>
          <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          <small class="text-muted">  |  </small>
          {% if post.status.name == "open" %}
          <small class="text-muted" style="color:#9cd28a!important;">{{ post.status.name }}</small>
          {% elif post.status.name == "taken" %}
          <small class="text-muted" style="color:#ffa601!important;">{{ post.status.name }}</small>
          {% elif post.status.name == "cancelled" %}
          <small class="text-muted" style="color:red!important;">{{ post.status.name }}</small>
          {% elif post.status.name == "closed"%}
          <small class="text-muted" style="color:red!important;">{{ post.status.name }}</small>
          {% endif %}
        </div>
      </div>
      <div style = "display: flex; justify-content: space-between;">
          <h3><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
          <form action="" method="POST">
            {% if post.status.name == 'open' %}
            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" name="closePost_btn" value='Close'>
            {% elif post.status.name == 'closed' %}
            <input class="btn btn-success btn-sm mt-1 mb-1" type="submit" name="openPost_btn" value="Open">
            {% endif %}
          </form>
      </div>
      <p class="article-content">{{ post.description }}</p>
      {% if post.author == current_user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
      {% else %}
        <div>
          <form action="" method="POST">
            {% if curr_user_volunteering %}
              <input class="btn btn-primary btn-sm mt-1 mb-1" type="submit" name="unvolunteer_btn" value="Unvolunteer">
            {% else %}
              <input class="btn btn-primary btn-sm mt-1 mb-1" type="submit" name="volunteer_btn" value="Volunteer">
            {%endif%}
          </form>
        </div>
      {% endif %}
    </div>
  </article>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
